$sizeMPs: 28, 26, 24, 20, 19, 18, 16, 15, 13, 12, 11, 10, 9, 8, 6, 7, 5, 4, 3, 2,
  0;

.p {
  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &-#{$sizeMP} {
      padding: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &y-#{$sizeMP} {
      padding-top: $val;
      padding-bottom: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &x-#{$sizeMP} {
      padding-left: $val;
      padding-right: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &t-#{$sizeMP} {
      padding-top: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &b-#{$sizeMP} {
      padding-bottom: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &r-#{$sizeMP} {
      padding-right: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &l-#{$sizeMP} {
      padding-left: $val;
    }
  }
  &b-0 {
    padding-bottom: 0;
  }
  &t-0 {
    padding-top: 0;
  }
  &l-0 {
    padding-left: 0 !important;
  }
  &r-0 {
    padding-right: 0;
  }
}
