$sizeMPs: 20, 19, 18, 17, 16, 15, 14, 12, 11, 10, 9, 8, 6, 7, 5, 4, 3, 2, 1, 0;

.m {
  &-0 {
    margin: 0;
  }
  &-auto {
    margin: 0 auto;
  }
  &l-auto {
    margin-left: auto;
  }
  &r-auto {
    margin-right: auto;
  }
  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &-#{$sizeMP} {
      margin: $val;
    }
  }

  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &y-#{$sizeMP} {
      margin-top: $val;
      margin-bottom: $val;
    }
  }

  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &x-#{$sizeMP} {
      margin-left: $val;
      margin-right: $val;
    }
  }

  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &t-#{$sizeMP} {
      margin-top: $val;
    }
  }

  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &b-#{$sizeMP} {
      margin-bottom: $val;
    }
  }

  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &r-#{$sizeMP} {
      margin-right: $val;
    }
  }

  @each $sizeMP in $sizeMPs {
    $val: #{$sizeMP}px;
    &l-#{$sizeMP} {
      margin-left: $val;
    }
  }

  &b-0 {
    margin-bottom: 0;
  }
  &t-0 {
    margin-top: 0;
  }
  &r-0 {
    margin-right: 0;
  }
}
