@import "./base/base-common-margin.scss";
@import "./mixin/mixin.scss";
@import "./module-styles/module-styles.scss";

:root {
  --color-black: black;
  --color-white: white;
  --color-primary: #141414;
  --color-bali-hai-65: rgba(255, 255, 255, 0.65);
  --color-bali-hai-85: rgba(255, 255, 255, 0.85);
  --color-bali-hai-45: rgba(255, 255, 255, 0.45);
  --color-mine-shaft: #1f1f1f;
  --color-purple: #a379ff;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .mr-2 {
//   margin-right: 4px;
// }

.comic-detail-page {
  background-color: var(--color-black);
  min-width: 100vw;
  min-height: 100vh;
}
